
/* General */
.container {
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
}
::-webkit-scrollbar {
    height: 6px;
    width: 6px;
    background: #212121;
}
  /* Track */
  ::-webkit-scrollbar-track {
    background: #212121;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #3F3F3F;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #212121;
  }
  ::-webkit-scrollbar-thumb:horizontal{
    background: #3F3F3F;
    border-radius: 10px;
}
.pfp {
    width:40px;
    height:40px; 
    border-radius: 50%; 
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
h1 {
    text-align: center;
    color: white;
    margin-bottom: 40px;
}
h3 {
    font-size: 16px !important;
    color: white !important;
    text-align: center;
}
h6 {
    font-size: 16px !important;
    color: white !important;
    text-align: left;
}
h7 {
    font-size: 16px !important;
    color: white !important;
    text-align: right;
}
.ui-widget-content {
    border: 1px solid #dddddd;
    background: #212121;
    color: #333333;
}
.ui-tooltip {
    background-color: #212121;
    color: #212121;
    position: absolute;
    z-index: 9999;
    max-width: 300px;
    -webkit-box-shadow: 0 0 5px #aaa;
    box-shadow: 0 0 5px #aaa;
    padding: 8px;
}
.ui-tooltip-content {
    background-color: #212121;
}
.top3movies{
    display: flex;
}
.fontAwesome {
    font-family: 'Helvetica', FontAwesome, sans-serif;
}
/*                 NAVBAR */
#topnav{
    background-color: #3F3F3F;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    margin: auto;
    z-index: 10;
}
a:hover, a:visited, a:link, a:active {
    text-decoration: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }  
.left {
    display: flex;
    justify-content: left;
    flex: 1 1 20px;
    text-align: left;
    font-size: 30px;
    margin-left: 30px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}
.main{
    color: #00a5a5;
    text-decoration: none;
    background: linear-gradient(270deg, #89C9B8 36.8%, #879DEC 184.8%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.right{
    float: right;
    justify-content: right;
    margin-right: 30px;
    display: flex;
    margin-left: auto;
    margin-top: 12px;
} 
.dropbtn {
    background-color: #3F3F3F;
    color: white;
    font-size: 16px;
    border: none;
    text-align: left;
    margin-top:10px;
    margin-bottom: 10px;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #3F3F3F;
    min-width: 160px;
    z-index: 1;
    font-size: 16px;
  }
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    display: block;
  }
  .dropdown-content a:hover {background-color: #43464B;}
  .dropdown:hover .dropdown-content {display: block;}
.login{
    margin-top: 10px;
    margin-right: 20px;
    font-size: 20px;
    color: white !important;
}
/* LOGIN */
#login {
    background-image: url(./Images/back1.jpg);
    background-size: cover;
    margin: -10px -10px -20px -10px;
    background-position: 0px 50%;
    width: 100%;
    height: 100vh;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}
*{
box-sizing: padding-box;
}
.logincontainer{
    position: absolute;
    height: 100%;
    width: 40vw;
    left: 60vw;
    height: 100vh;
    background: #212121;
}
.mainlogin {
    color: #00a5a5;
    text-decoration: none;
    background: linear-gradient(270deg, #89C9B8 36.8%, #879DEC 184.8%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    position: absolute;
    font-size: 30px;
    margin-top: 30px;
    margin-left: 30px;
}
.formcontainer{
    display: block;
    align-items: right;
    margin: auto;
    width: 50%;
    margin-top: 30vh;
}
.form{
    background-color: transparent;
}
.form-control {
    background-color: transparent;
}
textarea:focus, input:focus {
    color: #89C9B8;
}
input, select, textarea{
    color: #89C9B8;
}
h2 {
    text-align: center;
    margin-bottom: 40px;
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}
input {
    display: block;
    border: 1px solid #89C9B8;
    border-radius: 18px;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    background-color: transparent;

}
::placeholder {
    color: #89C9B8;
}
label {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
.forgot {
    float: right;
    margin-left: auto; 
    margin-right: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #89C9B8;
    margin-top: -10px;
}
.verify {
    float: left;
    margin-left: auto; 
    margin-right: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #89C9B8;
    margin-top: -10px;
}
button {
    display: block;
    background: #89C9B8;
    padding: 10px 15px;
    color: black;
    border-radius: 5px;
    border: none;
    width: 180px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
button:hover{
    opacity: .90;
}
.error {
    background: #F2DEDE;
    color: #0c0101;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}
p {
    margin-top: 30px;
    text-align: center;
    color: white;
    font-size: 16px;
}
p a {
    text-decoration: none;
    color: #89C9B8;
}
/* Create Account */
#Create {
    background-image: url(./Images/back2.jpg);
    background-size: cover;
    margin: -10px -10px -20px -10px;
    background-position: 0px 50%;
    width: 100%;
    height: 100vh;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}
*{
    box-sizing: padding-box;
}
.logincontainer1 {
    position: absolute;
    height: 100%;
    width: 39vw;
    left: 0vw;
    height: 100vh;
    background: #212121;
}
.mainlogin1 {
    color: #00a5a5;
    text-decoration: none;
    background: linear-gradient(270deg, #89C9B8 36.8%, #879DEC 184.8%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    position: absolute;
    font-size: 30px;
    margin-top: 30px;
    margin-left: 30px;
}
.formcontainer1 {
    display: block;
    align-items: right;
    margin: auto;
    width: 50%;
    margin-top: 30vh;
}
.form{
    background-color: transparent;
}
.form-control {
    background-color: transparent;
}
h2 {
    text-align: center;
    margin-bottom: 15px;
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}
input {
    display: block;
    border: 1px solid #89C9B8;
    border-radius: 18px;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    background-color: transparent;
}
::placeholder {
    color: #89C9B8;
}
label {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
.forgot {
    float: right;
    margin-left: auto; 
    margin-right: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #89C9B8;
    margin-top: -10px;
}
button {
    display: block;
    background: #89C9B8;
    padding: 10px 15px;
    color: black;
    border-radius: 5px;
    border: none;
    width: 180px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
button:hover{
    opacity: .90;
}
.error {
    background: #F2DEDE;
    color: #0c0101;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}
p {
    margin-top: 10px;
    text-align: center;
    color: white;
    font-size: 16px;
}
p a {
    text-decoration: none;
    color: #89C9B8;
}
/*Email Verify */
#Email {
    background-image: url(./Images/back2.jpg);
    background-size: cover;
    margin: -10px -10px -20px -10px;
    background-position: 0px 50%;
    width: 100%;
    height: 100vh;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}
*{
    box-sizing: padding-box;
}
.logincontainer2{
    position: absolute;
    height: 100%;
    width: 39vw;
    left: 0vw;
    height: 100vh;
    background: #212121;
}
.mainlogin2 {
    color: #00a5a5;
    text-decoration: none;
    background: linear-gradient(270deg, #89C9B8 36.8%, #879DEC 184.8%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    position: absolute;
    font-size: 30px;
    margin-top: 30px;
    margin-left: 30px;
}
.formcontainer2 {
    display: block;
    align-items: right;
    margin: auto;
    width: 50%;
    margin-top: 30vh;
}
.form {
    background-color: transparent;
}
.form-control {
    background-color: transparent;
}
.btn1 {
    margin-top: 30px;
    color: white;
    background-color: #89C9B8;
}
/* Index */
#index{
    background-color: #212121;
}
.body {
    background-color: #212121;
}
/* Search */
#search{
    width: 100%;
}
.search {
    margin-top: 150px;
}
.btn-search {
    display: none;
}
.formcontainer3 {
    display: block;
    align-items: right;
    margin: auto;
    width: 50%;
    margin-top: 90px;
    margin-bottom: 90px;
}
.search .form{
    background-color: transparent;
}
.search .form-control {
    background-color: transparent;
}
.search textarea:focus, input:focus {
    color: #89C9B8;
}
.search input, select, textarea{
    color: #89C9B8;
}
.search input {
    display: block;
    border: 1px solid #89C9B8;
    border-radius: 18px;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    background-color: transparent;
}
/* Top movies */
#topMovies {
    width: 100%;
}
h2 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    margin-top: 60px;
    color: #FFFFFF !important;
    overflow: hidden;
}
h2::after {
    content: '';
    flex: 1;
    margin-left: 10px;
    height: 5px;
    background-color: #89C9B8;
}
/*Movie Card */
.item {
    margin-bottom: 10px;
    margin-right: 20px;
    width: 220px;
    height: 400px;
    display: inline-block;
    border-radius: 10%;
    position: relative; 
    z-index: 1;
}
.item img{
    width: 220px;
    height: 330px;
    border-radius: 10%;
    display: block;
    transition: transform 0.5s;
}
.layer {
    width: 100%;
    height: 0%;
    border-radius: 10%;
    background: linear-gradient(rgba(0,0,0,0.6), #003a3a);
    position: absolute;
    left:0;
    bottom:68px;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer p {
    font-size: 12px;
    margin: 15px 10px 0px 10px;
}
.layer .form1 {
    position: absolute;
    bottom: 5px;
    margin-top: -10px; 
}
.layerformbutton {
    background: transparent;
    border: 1px solid #89C9B8;
    border-radius: 18px;
    color: white;
    height: 30px;
    padding: 1px;
    margin-top: 5px;
}
.layerformbutton:hover {
    background: linear-gradient(white, #89C9B8);
}
.item:hover .layer {
    height: 83%;
}
.horizontal_slider{
    margin-top: 30px;
    margin-bottom: 30px;
    display:flex;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    margin-right: 30px;
    width:100%;
    padding: 10px;
    scrollbar-color: black;
}
/*Search Results */
#searchresults{
    background-color: #212121;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
}
body {
    background-color: #212121;
}
.formcontainer4 {
    display: block;
    margin: auto;
    width: 70%;
    margin-left: 15vw;
    margin-top: 150px;
    margin-bottom: 55px;
}
.searchresults {
    background-color: #212121;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(70vw, 1fr));
    grid-gap:25px;
    width: 70vw;
    margin-left: 17vw;
}
.searchresults .search .form{
    background-color: transparent;
}
.searchresults .search .form-control {
    background-color: transparent;
}
.searchresults .search textarea:focus, input:focus {
    color: #89C9B8;
}
.searchresults .search input, select, textarea{
    color: #89C9B8;
}
.searchresults .search input {
    display: block;
    border: 1px solid #89C9B8;
    border-radius: 18px;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    background-color: transparent;
}
.nextpage{
    margin-top:-20px;
    margin-bottom: 30px;
    display:block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.nextpagebutton{
    display: inline-block;
    position: relative;
    right: 100px;
}
.nextpagebuttonform {
    width: 70px;
    margin-right: 15px;
}
/* profile */
#profile{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
}
.header1{
    margin-top: 150px;
    color: white;
    display: inline-block;
    text-align: center;
    font-size: 42px;
    margin-right: auto;
    margin-left: 15vw;
}
h5 {
    float: left;
    font-size: 42px;
    margin-right: 22px;
    margin-top: 20px;
    margin-left: 10px;
}
h4 {
    color: #89C9B8;
    float: left;
    font-size: 42px;
    margin-top: 22px;
}
.pfplarge {
    width: 81px;
    height: 81px;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}
.dropcontainer {
    display: inline-block;
    margin-left: 14.5vw;
}
.dropdownpfp {
    display: block;
    width: auto;
  }
.dropdownpfp p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    width: 100px;
    float: left;
}
.dropbtnpfp {
    background-color: #212121;
    color: white;
    font-size: 16px;
    border: 1px solid #D9D9D9;
    border-radius: 24px;
    text-align: left;
    margin-top:10px;
    margin-bottom: 10px;
    position: relative;
    z-index: 10;
  }
  .dropbtnpfp:hover {
    background-color: #212121;
  }
  .dropbtnpfp:hover:active {
    background-color: #212121;
  }
  .dropdown-contentpfp {
    display: none;
    position: absolute;
    background-color: white;
    opacity: 0.7;
    min-width: 179px;
    z-index: 2;
    font-size: 16px;
    margin-left: 100.5px;
    margin-top: -50px;
    border-radius: 14%;
    height: 106px;
  }
  .dropdown-contentpfp input {
    color: black;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    display: block;
    margin-top: 30px;
    border: none;
    z-index: 10;
    bottom: -9px;
    height: 35px;
    border-radius: 10px;
    opacity: 1;
  }
  .dropdown-contentpfp .input2 {
    color: black;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    display: block;
    margin-top: auto;
    border: none;
    z-index: 10;
    margin-top: -30px;
    height: 35px;
    border-radius: 10px;
    opacity: 1;
  }
  .dropdown-contentpfp a:hover {background-color: #43464B;}
  .dropdown-contentpfp input:hover {background-color: #43464B;}
  .dropdownpfp:hover .dropdown-contentpfp {display: block;}
.profilemovies {
    margin-top: 50px;
    margin-left: 15vw;
    margin-right: 15vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap:25px;
}
.layerformbutton2 {
    background: transparent;
    border: 1px solid #89C9B8;
    border-radius: 18px;
    color: white;
    margin-bottom: 22px;
    margin-top: -8px;
}
.layerformbutton2:hover {
    background: linear-gradient(white, #89C9B8);
}
.form2 {
    position: absolute;
    bottom: 50px;
    margin-top: -10px; 
}
.warning {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    border-radius: 10%;
    color: black;
    background-color: rgb(255, 156, 156);
    border: none;
    border-radius: 18px;
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    height: 30px;
}
/* Top users */
.tablecontainer{
    margin-bottom: 25px;
}
.mytable{
    width: 103%;
    border: 1px solid;
    padding: 10px;
    margin: 10px 10px 50px 10px;
    margin-left:-18px;
    white-space: nowrap;
}
.pic{
    white-space: nowrap;
    width: 10px;
}
.tableheader1{
    text-align: left;
    margin: 10px 10px 10px 10px;
    font-size: 24px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    color: white;
    padding: 10px 10px 10px 10px;
}
.tableheader2{
    text-align: right;
    margin: 10px 10px 10px 10px;
    font-size: 24px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    color: white;
    padding: 10px 10px 10px 10px;
}
/* Footer */
#footer {
    position: absolute;
    display: inline-block;
    left: 0;
    bottom: 1000;
    width: 100%;
    height: 200px;
    background-color: #3F3F3F;
    color: white;
    text-align: center;
}
.leftfooter {
    position: absolute;
    left: 35vw;
    margin-left: auto;
    margin-top: 75px;
    margin-right: auto;
}
.rightfooter{
    position: absolute;
    margin-left: 100px;
    margin-right: auto;
    margin-top: 75px;
    right: 35vw;
}
.footerbtn {
    text-decoration: none;
    background-color: #89C9B8;
    color: white;
    height: 50px;
    width: 100px;
    padding: 20px 60px 20px 60px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    font-size: 24px;
    border-radius: 10% ;
}
